@model Tem_Aqui.Models.Login

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Login</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginSenha)
        </dd>
    </dl>
</div>
<div>
    <a style="text-decoration-line:none" class=" text-dark" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a style="text-decoration-line:none" class=" text-dark" asp-action="Index">Volte para a lista</a>
</div>
