html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 0px;
}

.imagem {
    width: 50%;
    margin-top: 30px;
}
.rodape {
    background-color: #514A83;
    height: 100px;
}
.container-fluid {
    background-color: #796DC7;
}
.navbar {
    padding: 0 !important;
}

.navbar-brand {
    padding: 0 !important;
}
.navbar-brand img {
        height: 60px;
}